{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h1>TODO LIST</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .container {
        background: rgba(0, 128, 0, 0.3)
    }
    </style>
<div class="container" >
    <div class="row">
        <div class="col-md-6">
        <form method="POST" class="p-3 shadow">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="task" placeholder="Task name">
            </div>
            <div class="form-group">
            <input type="text" class="form-control" name="priority" placeholder="Task priority">
            </div>
            <div class="form-group">
            <input type="date"  class="form-control" name="date" placeholder="Task date">
            </div>
            <input type="submit" class="btn btn-success">
        </form>
        </div>
        <div class="col-md-6">
            <h4 style="text-decoration:underline;" >Tasks To Be Completed</h4>
            {% for i in task1 %}
            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p><i><b>{{i.date}}</b></i></p>
                    <p><b>{{i.priority}}</b></p>
                    <a class="btn btn-danger" href="{% url 'todoapp:delete' i.id %}">Done</a>
                    <a class="btn btn-warning" href="{% url 'todoapp:update' i.id %}">Update</a>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}